<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 6
});
</script>

<% content_for :title do %>My dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/focusOrangeLogo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="weeklyweather" data-view="WeeklyWeather"></div>
        <i class="fa fa-cloud fa-2x icon-background"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/crunchr.jpg"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="a_timeline" data-view="Timeline" data-title="Timeline"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      <div id="map"></div>
      <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 52.3491079, lng: 4.9207805}
          });

          var trafficLayer = new google.maps.TrafficLayer();
          trafficLayer.setMap(map);
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjv57_fhhQywv9awKTEvFu9ruBFRyDIsE&callback=initMap">
      </script>
    </li>

    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      <div>
        <iframe width="750" height="690" src="https://www.youtube.com/embed/videoseries?list=PLTwVRps7UE4wtkSC9dQ43_ixLB3e3f93g&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#00afd7;" data-moreinfo="Tweets tagged with #HRTech"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

  </ul>
</div>
